.mapboxgl-canvas {
  /* position: relative; */
  /* width: calc(100% * 0.6) !important;
  height: calc(100% * 0.4) !important; */
  /* padding: 40px; */
  /* padding: 10px; */
  /* transform: scale(0.7); */
}

.mapboxgl-control-container {
  position: fixed;
  bottom: 0;
  width: 60%;
}

#map {
  /* position: relative; */
}

#title_input::-webkit-input-placeholder {
  /* Edge */
  color: lightgrey;
}

#title_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgrey;
}

#title_input::placeholder {
  color: lightgrey;
}

/* .slider-control-centerleft,
.slider-control-centerright {
  display: none;
} */
