@font-face {
  src: url("../FontFiles/HarmoniaSans/HarmoniaSansProCyr-Bold.ttf")
    format("truetype");
  font-family: "HarmoniaSans_local";
  font-weight: 600;
  font-display: block;
}

@font-face {
  src: url("../FontFiles/HarmoniaSans/HarmoniaSansProCyr-Regular.ttf")
    format("truetype");
  font-family: "HarmoniaSans_local";
  font-weight: 400;
  font-display: block;
}

@font-face {
  src: url("../FontFiles/HarmoniaSans/HarmoniaSansProCyr-Light.ttf")
    format("truetype");
  font-family: "HarmoniaSans_local";
  font-weight: 300;
  font-display: block;
}

/* RobotoMono */
@font-face {
  src: url("../FontFiles/Roboto_Mono/RobotoMono-Bold.ttf") format("truetype");
  font-family: "RobotoMono_local";
  font-weight: 600;
  font-display: block;
}

@font-face {
  src: url("../FontFiles/Roboto_Mono/RobotoMono-Regular.ttf") format("truetype");
  font-family: "RobotoMono_local";
  font-weight: 400;
  font-display: block;
}

@font-face {
  src: url("../FontFiles/Roboto_Mono/RobotoMono-Light.ttf") format("truetype");
  font-family: "RobotoMono_local";
  font-weight: 300;
  font-display: block;
}

/* RobotoMono-Bold.ttf
  RobotoMono-Light.ttf
  RobotoMono-Medium.ttf
  RobotoMono-Regular.ttf
  RobotoMono-Thin.ttf */

body {
  font-family: "HarmoniaSans_local", serif;
}

body::-webkit-scrollbar {
  display: none;
}

.div::-webkit-scrollbar {
  display: none;
}

.mapboxgl-canvas {
  position: relative !important;
  /* transform: scale(0.5); */
  /* outline: 5px solid green; */
  /* width: calc(100% * 0.6) !important;
  height: calc(100% * 0.4) !important; */
  /* padding: 40px; */
  /* padding: 10px; */
  /* transform: scale(0.7); */
}

.mapboxgl-control-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* width: 60%; */
}
.mapboxgl-ctrl-bottom-right {
  transform: scale(0.8) translateY(5px);
  position: static;
  order: 0;
}

.mapboxgl-ctrl-bottom-left {
  transform: scale(0.8) translateY(10px);
  position: static;
  order: 1;
}

.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  box-shadow: none !important;
}

.suggestions-wrapper {
  z-index: 1000;
}

#map {
  /* position: relative; */
}

#title_input::-webkit-input-placeholder {
  /* Edge */
  color: lightgrey;
}

#title_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgrey;
}

#title_input::placeholder {
  color: lightgrey;
}

/* .slider-slide {
  cursor: default !important;
} */

body {
  overflow-x: hidden;
}

/* #pure_cta_box {
  top: calc(var(--vh, 1vh) * 86);
} */

@media only screen and (max-width: 600px) {
  .slider-frame {
    /* height: 100vh; */
  }

  .slider-list {
    /* height: 100vh !important; */
  }

  .slider-slide {
    /* max-height: 100vh !important; */
  }

  .slider-slide > img {
    /* height: 100%; */
  }
}
